body {
  font-family: "Baloo 2", sans-serif;
}

.header {
  position: relative;
  background: url(../images/dribbble.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  color: white;
}
.header .over {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: scroll;
}
.login-text {
  font-size: 35px;
  margin-top: 28vh;
  margin-bottom: 15px;
}
.inpts {
  width: 50vh;
  margin: 10px auto;
}
@media (max-width: 520px) {
  .inpts {
    width: 40vh;
    margin: 10px auto;
  }
}
.input1,
.input2 {
  margin-bottom: 15px;
  padding-left: 40px;
  height: 50px;
}
.input3 {
  margin-bottom: 5px;
  padding-left: 40px;
  height: 50px;
}
.con1,
.con2,
.con3 {
  position: relative;
}
.con1 i,
.con2 i,
.con3 i {
  position: absolute;
  top: 16px;
  left: 10px;
  color: #ff0080;
}
.forget-password {
  color: rgb(233, 233, 233);
  transition: ease-in-out 0.5s;
  text-decoration: none;
}
.forget-password:hover {
  text-decoration: none;
  color: #ff0080;
}
.option {
  margin: 10px auto;
  width: 23vh;
}
.buttons {
  display: flex;
  justify-content: space-between;
}

.b1 {
  background-color: #ff0080;
  border-color: #ff0080;
  width: 80px;
  transition: ease-in-out 0.5s;
  color: #fff;
}
.b1:hover {
  background-color: white;
  border-color: white;
  color: #ff0080;
}
.b2 {
  width: 80px;
  transition: ease-in-out 0.5s;
  border-color: #fff;
  color: #fff;
}
.b2:hover {
  background-color: white;
  border-color: #fff;
  color: #ff0080;
}
@media (max-height: 700px) {
  .buttons {
    width: 23vh;
    display: block;
    text-align: center;
  }
}
@media (max-height: 700px) {
  .buttons .b1 {
    width: 23vh;
    margin-bottom: 10px;
  }
  .buttons .b2 {
    width: 23vh;
  }
}

.web {
  width: 23vh;
  margin: 20px auto;
}
@media (max-height: 780px) {
  .web span {
    display: none;
  }
}
.web1 {
  background-color: #7a73e8;
  width: 23vh;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: ease-in-out 0.5s;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  height: 50px;
}
.web1:hover {
  background-color: white;
  color: #7a73e8;
}
.web2 {
  background-color: #ff003d;
  width: 23vh;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: ease-in-out 0.5s;
  text-align: center;
  margin-top: 12px;
  vertical-align: middle;
  line-height: 40px;
  height: 50px;
}
.web2:hover {
  background-color: white;
  color: #ff003d;
}
/* start login style */
.box {
  height: 600px;
  width: 900px;
  margin: 150px auto;
  border-radius: 20px;
  position: relative;
  box-shadow: 5px 3px 15px 0px rgb(211, 201, 255);
  box-shadow: 0px 0px 15px 3px rgb(211, 201, 255);
}
@media (max-width: 895px) {
  .box {
    text-align: center;
    width: 470px;
  }
}
.box .login {
  width: 600px;
  height: 600px;
  background-color: #eae6fc;
  position: absolute;
  right: 0px;
  top: 0px;
  border-radius: 0px;
}
.box .login form {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media (max-width: 895px) {
  .box .login {
    text-align: center;
    width: 470px;
  }
}
.box .image .image1 {
  width: 300px;
  height: 600px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.box .login h3 {
  color: gray;
  padding: 30px;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.box .login h3 span {
  color: #6200ee;
}
.box .login p {
  padding: 30px;
  font-size: 20px;
  margin-bottom: 50px;
}
.box .login form .form-control {
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  border: 0px;
  padding-bottom: 30px;
  border-bottom: 1px solid #f0f2f7;
  border-radius: 30px;
  background-color: #f0f2f7;
}
.box .login form .input2 {
  margin-bottom: 0px;
}
.box .login form .btn {
  background-color: #6200ee;
  width: 100px;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
  left: 450px;
  margin-top: 15px;
  position: absolute;
  color: white;
}
@media (max-width: 895px) {
  .box .login form .btn {
    left: 350px;
  }
}
.box .login form .btn:hover {
  color: black;
  background-color: transparent;
  border: 1px solid black;
}

@media (max-width: 767px) {
  .text-center-xs {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .text-center-sm {
    text-align: center;
  }
}
/* end login style */
/* start about us */
.about-title {
  margin-top: 25vh;
  color: #8ab6ff;
  margin-bottom: 10vh;
}
.row1 {
  margin-bottom: 5vh;
}
.row2 {
  margin-bottom: 10vh;
}
@media (max-width: 768px) {
  .row1 {
    margin-bottom: 0vh;
  }
}

.about .image1 {
  background-color: #fff;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  box-shadow: 0px 0px 10px 2px #cbdeff;
  margin: 5px auto;
  transition: ease-in-out 700ms;
}

.about img {
  border-radius: 50%;
  width: 98px;
  height: 98px;
  margin: 6px 7px;
  cursor: pointer;
  transition: ease-in-out 700ms;
}
.content {
  height: 0px;
  visibility: hidden;
  opacity: 0;
  transition: ease-in-out opacity 1s 300ms;
}
.content h4 {
  color: #8ab6ff;
  font-size: 16px;
}
.des {
  font-size: 15px;
}

.about .cont:hover img {
  margin: 10px 50px;
}
.about .cont:hover .image1 {
  width: 200px;
  height: 300px;
  border-radius: 15px;
}
.about .cont:hover .content {
  visibility: visible;
  opacity: 1;
  height: 100%;
}
.icons .footer-icon {
  color: #8ab6ff;
}
.icons .footer-icon:hover {
  color: #8ab7ff80;
}
.con a {
  background-color: #fff;
  color: #8ab6ff;
  text-decoration: none;
  padding: 15px;
  box-shadow: 0px 0px 10px 2px #cbdeff;
  border-radius: 15px;
}

.con a:hover {
  background-color: none;
  border: 1px solid #8ab6ff;
  text-decoration: none;
}
.modal-content ::-webkit-input-placeholder {
  color: #bdd5ff;
}
.modal-body {
  border: none;
}
.modal-content .modal-body .form-group .email {
  font-weight: bold;
  color: #bdd5ff;
  opacity: 1;
}

.c1 {
  color: #8ab6ff;
}
.send {
  background-color: #f7faff;
  border-radius: 15px;
  color: #8ab6ff;
  padding: 7px;
  width: 80px;
  border-color: #8ab6ff;
  border-style: solid;
  transition: 0.5s ease;
}
.send:hover {
  background-color: #8ab6ff;
  color: #fff;
}

/* end about us */
